<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read All</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div>
        <h1>All shows</h1>
        <table>
            <tr id='heading'>
                <th> ID </th>
                <th> Title </th>
                <th> Network </th>
                <th> Relese Date </th>
                <th> Action </th>
                {% for show in tvshows %}
            <tr>
                <th>{{show.id}}</th>
                <th>{{show.title}}</th>
                <th>{{show.network}}</th>
                <th>{{show.releasedate|date:'b d, Y'}}</th>
                <th><a href="shows/{{show.id}}"> Show </a> | <a href="{{show.id}}/edit"> Edit </a> | <a href="{{show.id}}/delete"> Delete </a> </th>
            </tr>{% endfor %}
        </table>
        <p><a href="shows/new">  Add a New Show  </a>  </p>
    </div>
</body>

</html>