<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id=add>
    </div>
    <div>
        <h1> {{Authors.first_name}} {{Authors.last_name}}</h1>
        <p>{{Authors.id}} </p>
        <p>{{Authors.notes}}</p>

        <h1>books:</h1>
        {% for book in Authors.book.all %}
        <p>{{book.title}}</p>
        {%endfor%}

        <form action="{{Authors.id}}/bookToAuthor" method="POST">
            {% csrf_token %}
            <select name="Books_name">
                {% for Book in Books %}
                <option value="{{Book.id}}">{{Book.title}} {{Book.id}} </option>
                {% endfor %}
            </select>
            <button> Add </button>
        </form>
    </div>
</body>

</html>